# See ingest/README.md for all available data
data_provenances:
  - open
variant_classifications:
  - nextstrain_clades
  - pango_lineages
geo_resolutions:
  - global

# Params for the prepare data scripts
# Define params for each data_provenance / variant_classification / geo_resolution combination
# Include `max_date` if you don't want to use today as the max date
prepare_data:
  gisaid:
    nextstrain_clades:
      global:
        included_days: 150
        location_min_seq: 1000
        location_min_seq_days: 150
        excluded_locations: "defaults/global_excluded_locations.txt"
        clade_min_seq: 500
        clade_min_seq_days: 150
      usa:
        included_days: 150
        location_min_seq: 100
        location_min_seq_days: 100
        force_include_clades: "hub/included_clades.tsv"
    pango_lineages:
      global:
        included_days: 150
        location_min_seq: 1000
        location_min_seq_days: 150
        excluded_locations: "defaults/global_excluded_locations.txt"
        clade_min_seq: 1
        clade_min_seq_days: 150
        collapse_threshold: 350
  open:
    nextstrain_clades:
      global:
        included_days: 150
        location_min_seq: 200
        location_min_seq_days: 150
        excluded_locations: "defaults/global_excluded_locations.txt"
        clade_min_seq: 150
        clade_min_seq_days: 150
      usa:
        included_days: 150
        location_min_seq: 100
        location_min_seq_days: 100
        force_include_clades: "hub/included_clades.tsv"
        excluded_locations: "defaults/usa_excluded_locations.txt"
    pango_lineages:
      global:
        included_days: 150
        location_min_seq: 200
        location_min_seq_days: 150
        excluded_locations: "defaults/global_excluded_locations.txt"
        clade_min_seq: 1
        clade_min_seq_days: 150
        collapse_threshold: 150

# Params for the model run scripts
models:
  gisaid:
    nextstrain_clades:
      global:
        pivot: "25C"
        location_ga_inclusion_threshold: 25
      usa:
        pivot: "25C"
        location_ga_inclusion_threshold: 25
    pango_lineages:
      global:
        pivot: "XFG"
        location_ga_inclusion_threshold: 25
  open:
    nextstrain_clades:
      global:
        pivot: "25C"
        location_ga_inclusion_threshold: 25
    pango_lineages:
      global:
        pivot: "XFG"
        location_ga_inclusion_threshold: 25

# Model configs
mlr_config: "config/mlr-config.yaml"
# don't run renewal model by default
#renewal_config: "config/renewal-config.yaml"


# A mapping between nextstrain clades, defining pango lineages and clade colours.
# Colours will be assigned to pango lineages by first associating it with its
# corresponding nextstrain clade and then interpolating colours close to the
# clade's colour; this allows each individual lineage to have its own colour
# whilst being able to visually associate them back to their nextstrain clade.
#
# The order in the list must be hierarchical w.r.t pango lineages, i.e. XBB.1.9
# must appear _before_ XBB
#
# NOTES:
# * Lineages are ordered (in the legend & for the GA estimates) alphabetically
#   via their full pango name. This doesn't map nicely onto nextstrain clade
#   definitions, which is why an individual colour scale defined here may appear
#   in multiple parts of the graph.
# * Lineages which are not a descendant of a clade-defining lineage will be
#   grouped as 'other'
clade_definitions:
  - clade: "25I"
    display_name: "25I (BA.3.2)"
    defining_lineage: "BA.3.2"
    color: '#DC2F24'
  - clade: "25H"
    display_name: "25H (XFJ)"
    defining_lineage: "XFJ"
    color: '#E68133'
  - clade: "25G"
    display_name: "25G (XFC)"
    defining_lineage: "XFC"
    color: '#D4B13F'
  - clade: "25F"
    display_name: "25F (NW.1.2)"
    defining_lineage: "NW.1.2"
    color: '#A6BE55'
  - clade: "25C"
    display_name: "25C (XFG)"
    defining_lineage: "XFG"
    color: '#75B681'
  - clade: "25B"
    display_name: "25B (NB.1.8.1)"
    defining_lineage: "NB.1.8.1"
    color: '#529AB6'
  - clade: "25A"
    display_name: "25A (LP.8.1)"
    defining_lineage: "LP.8.1"
    color: '#3F63CF'
  - clade: "24H"
    display_name: "24H (LF.7)"
    defining_lineage: "LF.7"
    color: '#999999'
  - clade: "other"
    display_name: "other"
    defining_lineage: False
    color: '#777777'
