name: COVID-19 case counts

on:
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch:
    inputs:
      slack_channel:
        description: 'Slack channel to push update alerts. Default channel is nextstrain-counts-updates.'
        required: false
      trial_name:
        description: 'Short name for a trial run. WARNING: without this we will overwrite files in s3://nextstrain-data/files/workflows/forecasts-ncov/cases.'
        required: false

jobs:
  set_s3_dst:
    runs-on: ubuntu-latest
    steps:
      - id: s3_dst
        run: |
          S3_DST=s3://nextstrain-data/files/workflows/forecasts-ncov

          if [[ "$TRIAL_NAME" ]]; then
            S3_DST+=/trial/"$TRIAL_NAME"
          fi

          echo "s3_dst=$S3_DST" >> "$GITHUB_OUTPUT"
        env:
          TRIAL_NAME: ${{ inputs.trial_name }}
    outputs:
      s3_dst: ${{ steps.s3_dst.outputs.s3_dst }}

  case_counts:
    needs: [set_s3_dst]
    permissions:
      id-token: write
    uses: nextstrain/.github/.github/workflows/pathogen-repo-build.yaml@master
    secrets: inherit
    with:
      runtime: docker
      run: |
        nextstrain build \
          ingest \
          upload_all_case_counts \
          --config s3_dst="$S3_DST"
      env: |
        SLACK_CHANNELS: ${{ inputs.slack_channel || vars.SLACK_CHANNELS }}
        S3_DST: ${{ needs.set_s3_dst.outputs.s3_dst }}
